<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= form.label :name, class: "border border-primary w-auto"%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

<div class="field">
  <%= form.label :role %>
  <%= form.select :role, options_for_select([['Owner', 'owner'], ['Admin', 'admin'], ['Supervisor', 'supervisor'], ['Staff', 'staff'], ['Maintainer', 'maintainer']], resource.role) %>
</div>

<%# Company Fields %>

  <div class="field">
    <%= form.label :company_name, "Company Name" %>
    <%= form.text_field :company_name %>
  </div>

    <div class="field">
    <%= form.label :subdomain, "Company Url"%>
    <%= form.text_field :subdomain %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
